---
layout: default
meta_title: Demo
meta_description: Demo of grig working in the browser
body_class: home
title: Demo
---
<div style="margin: 20px auto;">
    Simple demonstration of audio and midi connectivity, and a two operator fm synthesizer using grig and react
    (<a href="https://gitlab.com/haxe-grig/grig.tech/-/tree/main/src">see source</a>).
</div>
<div id="app"></div>
<script src="//cdnjs.cloudflare.com/ajax/libs/react/16.3.0/umd/react.development.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/react-dom/16.3.0/umd/react-dom.development.js"></script>
<script src="/js/demo.js"></script>