---
layout: default
meta_title: Demo
meta_description: Demo of grig working in the browser
body_class: home
title: Demo
---
<div id="app"></div>
<script src="//cdnjs.cloudflare.com/ajax/libs/react/16.3.0/umd/react.development.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/react-dom/16.3.0/umd/react-dom.development.js"></script>
<script src="/js/demo.js"></script>