<div class="footer-wrapper">

    <footer id="footer" class="footer bg-black text-gray-200">

        <div class="footer-inner container m-auto md:flex justify-between items-center px-6 py-10">

            <p class="pb-8 md:pb-0">
                © 2019-2020 <a href="https://osakared.io">Osaka Red LLC</a> redistributable per the terms of the CC Attribution 4.0 license.
                <a href="https://gitlab.com/haxe-grig/grig.tech/-/tree/main/{{ page.inputPath }}">Edit page on gitlab</a>.
            </p>

            {% include 'components/social-icons.njk' %}

        </div>

    </footer>

</div>